a.text {
  text-decoration: none;
}

.search-form {
  width: 500px;
  margin: 0 auto;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

#search-field {
  background-color: rgb(78, 47, 255);
}

#search-field button {
  border-radius: 5px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.photo-card {
  margin-bottom: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-around;

  .info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.load-more {
  display: block;
  margin: 0 auto;
  background-color: rgb(78, 47, 255);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  padding: 5px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.loading {
  position: fixed;
  max-width: 50px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
