.search-form {
  width: 500px;
  margin: 0 auto;
  // background-color: aqua;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

#search-field {
  background-color: rgb(78, 47, 255);
}

#search-field button {
  border-radius: 5px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.photo-card {
  // width: 250px;
  // height: 100px;
  // margin-right: 20px;
  // margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: space-around;
  .info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
